html {
  font-family:"Pt Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  //background: url(../img/sayagata-400px.png) 0 0 repeat;
  background: url(../img/LeEuZIO69Ew.jpg) 0 0 repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #2c3e50;
}


.layout {
  //width: 100%;
  //margin-left: auto;
  //margin-right: auto;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.93);
  padding: 4em 5em 3em;
  margin: 3em 4em 0;
}

.grid {
  //text-align: justify;
  &::after {
    content: '';
    width: 100%;
    display: inline-block;
  }
}
.grid_item {
  display: inline-block;
  width: 24%;
  padding: 0 .6rem;
  vertical-align: top;
}

.title {
  font: 5em "Pt Sans", sans-serif;
  color:#2c3e50;
  text-align: center;
  //top: 20%;
  //width: 100%;
  //position: absolute;
}

.c-card {
  display: block;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 17, 68, 0.38);
  background-color: #fff;
  border-radius: .2rem;
  width: 100%;
  padding: .5em 1rem 2.9em;
  transition: all .2s ease-out;
  margin-bottom: 1em;

  &_l-link {
    display: block;
  }

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.28);
    transition: all .2s ease-out;
  }

  &:hover .c-card_title h3 {
    color: #0481ff;
    transition: all .2s ease-out;
  }

  &:hover .c-card_icon {
    fill: #0481ff;
    transition: all .2s ease-out;
  }

&_date {

  }

  &_title h3 {
    font-size: 1.9em;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    transition: all .2s ease-out;
  }

  &_text {
    //margin-bottom: 1rem;
  }

  &_icon {
    display: inline-block;
    //max-width: 50px;
    //max-height: 22px;
    margin-right: .1em;
    transition: all .2s ease-out;
  }

  &_tags {
    position: absolute;
    bottom: 1em;
    left: 1em;
  }

  &_hash {
    display: inline-block;
    font-size: .9em;
    line-height: 1;
    padding: .1em .8rem .3em;
    background-color: #d4eeff;
    border-radius: 1rem;
    //margin-right: .8rem;
    color: #000;
  }
}

@import "media";