ul(class="main-menu")
  li(class="main-menu__item")
    a(class="main-menu__link" href="") Dresses
  li(class="main-menu__item")
    a(class="main-menu__link" href="") Blouses
  li(class="main-menu__item")
    a(class="main-menu__link" href="") Tees_&_Tops
  li(class="main-menu__item")
    a(class="main-menu__link" href="") T-Shirts
  li(class="main-menu__item")
    a(class="main-menu__link" href="") Outerwear
  li(class="main-menu__item")
    a(class="main-menu__link" href="") Pans