div(class="b-footer")
  div(class="b-footer__title") Information
  ul(class="b-footer__list")
    li(class="b-footer__item")
      a(class="b-footer__link") Delivery
    li(class="b-footer__item")
      a(class="b-footer__link") Legal Notice
    li(class="b-footer__item")
      a(class="b-footer__link") Terms and conditions of use
    li(class="b-footer__item")
      a(class="b-footer__link") About us
    li(class="b-footer__item")
      a(class="b-footer__link") Secure payment
    li(class="b-footer__item")
      a(class="b-footer__link") Contact us
    li(class="b-footer__item")
      a(class="b-footer__link") Sitemap
    li(class="b-footer__item")
      a(class="b-footer__link") Stores