div(class="slider")
  div(class="sliders")
    div(class="slider__slide")
      section(class="slider__content")
        h1(class="slider__h1") Tees & Tops
        p(class="slider__text") Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        button(class="btn slider__button") discovery more
    div(class="slider__slide")
      section(class="slider__content")
        h1(class="slider__h1") Tees & Tops
        p(class="slider__text") Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        button(class="btn slider__button") discovery more
  button(class="arrow arrow_left slick-prev" type="submit")
    i(class="arrow__prev")
  button(class="arrow arrow_right" type="submit")
    i(class="arrow__next")
  div(class="dots-list")
  // ul(class="slider-dots")
    li(class="slider-dots__item")
      button(class="slider-dots__btn slider-dots_active" type="button") 1
    li(class="slider-dots__item")
      button(class="slider-dots__btn" type="button") 2
    li(class="slider-dots__item")
      button(class="slider-dots__btn" type="button") 3