ul.social-icon
  li.social-icon__item
    a(class="social-icon__link" href="")
      span(class="social-icon_fb social-icon_va-center")
  li.social-icon__item
    a(class="social-icon__link" href="")
      span(class="social-icon_insta social-icon_va-center")
  li.social-icon__item
    a(class="social-icon__link" href="")
      span(class="social-icon_pint social-icon_va-center")
  li.social-icon__item
    a(class="social-icon__link" href="")
      span(class="social-icon_twit social-icon_va-center")