div(class="b-footer")
  div(class="b-footer__title") Your account
  ul(class="b-footer__list")
    li(class="b-footer__item")
      a(class="b-footer__link") Addresses
    li(class="b-footer__item")
      a(class="b-footer__link") Credit slips
    li(class="b-footer__item")
      a(class="b-footer__link") Orders
    li(class="b-footer__item")
      a(class="b-footer__link") Personal info
  