div(class="b-footer")
  div(class="b-footer__title") Products
  ul(class="b-footer__list")
    li(class="b-footer__item")
      a(class="b-footer__link") Prices
    li(class="b-footer__item")
      a(class="b-footer__link") New products
    li(class="b-footer__item")
      a(class="b-footer__link") Best sales