div(class="advantages")
  div(class="advantages__item")
    div(class="advantages__img")  
      img(src="images/wallet-icon.png")
    div(class="advantages__title") Discount system
    p(class="advantages__text") Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat
  div(class="advantages__item")  
    div(class="advantages__img")  
      img(src="images/bus-icon.png")
    div(class="advantages__title") Free delivery
    p(class="advantages__text") Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat
  div(class="advantages__item")  
    div(class="advantages__img")  
      img(src="images/person-icon.png")
    div(class="advantages__title") Support 24/7
    p(class="advantages__text") Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat
