div(class="logo-list")
  a(class="logo-list__link" href="#")
    img(class="logo-list__logo" src="images/brand-1.png", alt="")
  a(class="logo-list__link" href="#")
    img(class="logo-list__logo" src="images/brand-2.png", alt="")
  a(class="logo-list__link" href="#")
    img(class="logo-list__logo" src="images/brand-3.png", alt="")
  a(class="logo-list__link" href="#")
    img(class="logo-list__logo" src="images/brand-4.png", alt="")
  a(class="logo-list__link" href="#")
    img(class="logo-list__logo" src="images/brand-5.png", alt="")
  a(class="logo-list__link" href="#")
    img(class="logo-list__logo" src="images/brand-6.png", alt="")