.banner {
  display: flex;
  margin-bottom: 54px;

  &__item {
    flex: 1;

    &:last-child {
      padding-left: 15px;
      padding-right: 15px;
    }
    
  }

  &__line {
    width: 100px;
    margin-bottom: 33px;
  }

  &__img {
    max-width: 555px;
    height: auto;
    vertical-align: top;
    float: left;
  }

  &__title{
    margin-top: 0;
    color: #161918;
    font-size: 2.625rem;
    font-weight: 400;
    margin-bottom: 23px;
  }

  &__text{
    color: #929292;
    font-size: toRem(13);
    margin-bottom: 46px;
  }

  &__button{
    max-width: 194px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    color: black;
    border: 1px solid black;
  }
}