div(class="banner")
  div(class="banner__item")
    img(class="banner__img" src="images/banner-1.jpg" width="100%" height="auto")
  div(class="banner__item text-center")
    h2(class="banner__title") Bags & Shoes
    hr(class="banner__line line")
    p(class="banner__text") Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    button(class="banner__button btn") discovery more