div(class="map")
  script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aef29c6d14422900ccd547d1e94d2429c4e332e75991b575ffdc568a92c484afc&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
  div(class="map__info")
    p(class="map__text") Alterego, 1 Infinite Loop, Cupertino,CA 95014
    p(class="map__text") 8 - 800 - 2000 - 3000
    p(class="map__text") demo@demo.com
    p(class="map__text") Mon. - Sun: 09:00 - 19:00
