.map {
  position: relative;

  &__info {
    position: absolute;
    max-width: 335px;
    width: 100%;
    background-color: #fff;
    top: 100px;
    left: 50px;
    padding: 30px 40px 30px 40px;

  }

  &__text {
    font-size: 13px;
    font-weight: 400;
    margin-top: 0px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}