div(class="share")
  a(class="share__icon")
  div(class="social")
    a(class='social__link social__link_facebook' href="#")
    a(class='social__link social__link_instagram' href="#")
    a(class='social__link social__link_pinterest' href="#")
    a(class='social__link social__link_twitter' href="#")

  //ul(class="share-list")
    li(class="share-list__item") 
      a(class="share-list__link share-list__link_facebook" href="#")
    li(class="share-list__item")
      a(class="share-list__link share-list__link_instagram" href="#")
    li(class="share-list__item") mail
    li(class="share-list__item") twiter