div(class="basket")
  a(class="basket__icon" href="#")
    sub(class="basket__quantity") 3
  div(class="basket__cart")
    h1(class="basket__title") basket cart

    ul(class="cart")
      li(class="cart__item")
        img(scr="")
        div(class="cart__name") Happy intarsiacrewneck sweater
        dl(class="properties")
          dt(class="properties__property") Size:
          dd(class="properties__value") S
          dt(class="properties__property") Color:
          dd(class="properties__value") Blue
        div(class="cart__price") $24.95
          span(class="cart__quantity") х 2
    div(class="basket-prices")
      div(class="basket-prices__row")
        div(class="basket-prices__name") 2 items
        div(class="basket-prices__value") 42.95 $
      div(class="basket-prices__row")
        div(class="basket-prices__name") Shipping
        div(class="basket-prices__value") 7.95 $
      div(class="basket-prices__row")
        div(class="basket-prices__name") Taxes
        div(class="basket-prices__value") 0.00 $
      div(class="basket-prices__row")
        div(class="basket-prices__name") Total
        div(class="basket-prices__value") 42.95 $
    button(class="basket__button") processed to Checkout




