ul(class="themeblock")
  li(class="themeblock__item")
    div(class="themeblock__img")
      img(src="images/1.jpg", alt="")
    button(class="btn themeblock__button") dresses
  li(class="themeblock__item")
    div(class="themeblock__img")  
      img(src="images/2.jpg", alt="")
    button(class="btn themeblock__button") BLOUSES
  li(class="themeblock__item")
    div(class="themeblock__img")
      img(src="images/3.jpg", alt="")
    button(class="btn themeblock__button") T-SHIRTS
