.themeblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;

  &:hover {
    .themeblock__item {
      &:not(:hover) {
        opacity: .4;
      }
    } 
  }

  &__item {
    flex-basis: 32%;
    background-color: #dddddd;
    position: relative;
    margin-bottom: 25px;
    transition: opacity .4s ease-in-out;
    //margin-right: 30px;

    &:last-child {
      //margin-right: 0;
    }
  }

  &__img {
    // width: 350px;
    // min-height: 378px;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }

  &__button {
    cursor: pointer;
    max-width: 251px;
    position: absolute;
    bottom: 5.5076%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: #fff;
    color: #000000;
  }
}