@import "bourbon";
@import "vars.scss";

body {
  background-color: #1e3463;
  margin: 0;
  font: 16px/1.3 Arial, Tahoma, Verdana, serif;
}

.job-wrap {
  max-width: 955px;
  margin: 0 auto;
  padding: 26px 20px;
}


.jobs {
  font: 16px/1.4 Arial, Tahoma, Verdana, serif;
  box-sizing: border-box;
  background-color: #ffffff;
  
  &__name {
    border-bottom: 2px solid #000000;
    font-size: 36px;
    margin: 0;
    padding-bottom: 16px;
  }

  &__items {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    // font-size: 0;
    justify-content: space-between;
    align-items: flex-start;
    
  }

  &__item {
    cursor: pointer;
    flex-basis: 23.2786%;
    background-color: #ececec;
    // margin-right: 20px;
    margin-bottom: 20px;
    // flex: 1;
    // width: 213px;
    // display: inline-block;
    font-size: 15px;
    // vertical-align: top;

    &_active {
      background-color: #20a9fa;
      color: #ffffff;
    }

    &:hover {
      // background-color: #20a9fa;
    }
 
    a {
      display: block;
      margin: 0;
      text-decoration: none;
      color: #000000;
      
      padding: 10px 15px 15px 15px;

      &:hover {
        color: #ffffff;
        background-color: #20a9fa;
      }
    }
  }
}

.job.job-wrap {
  padding: 20px 20px;
}

.job {
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
  
  .job-wrap__left {
    flex-basis: 23.2786%;  
    .jobs__items {
      flex-direction: column;
      align-items: normal;
      padding-top: 0;
    }
  }

  .job-wrap__right {
    flex: 1;
    padding-left: 22px;
    & > h1 {
      font-size: 36px;
      margin-top: 0;
      padding-bottom: 32px;
      border-bottom: 2px solid #000;
      margin-bottom: 19px;
    }
  }

  .salary {
    &__range {
      font-size: 14px;
      margin-bottom: 21px;
      span {
        font-size: 18px;
        display: block;
        font-weight: bold;
        margin-top: 7px;
      }
      
    }

    &__text {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 21px;
    }
  }
}

.job-detail {
  padding-top: 38px;
  & > h2 {
    margin: 0;
    border-bottom: 2px solid #000;
    padding-bottom: 13px;
  }

  ul {
    padding-top: 19px;
    padding-left: 18px;
    list-style: square;
    margin: 0;
    font-size: 18px;
  }
}

.btn {
  display: inline-block;
  background-color: #fb8d3b;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding-top: 11px;
  padding: 11px 28px 13px 28px;
  font-size: 19px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #20a9fa;
  }
}

.form {

  & > h1 {
    font-size: 36px;
    border-bottom: 2px solid #000000;
    padding-bottom: 13px;
    margin-bottom: 0;
  }

  form {
    background-color: #f7f7f7;
    padding: 40px;
    box-sizing: border-box;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 14px;
  }

  &__consent {
    font-size: 12px;
  }

  input {
    padding: 24px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .btn {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 12px;
    border: 0;
    display: block;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 21px;
    
  }

  label {
    display: block;
  }
}


@import "media.scss";
