@import "bourbon";

$red: #e93c31;
$fontColorNav: #e93c31;

.arrow_carrot-2down::after {
  font-family: 'ElegantIcons';
  font-size: 16px;
  font-size: em(15);
  content: "\33";
}

h2 {
  font-size: 26px;
}

body {
  color: #666;
  font-family: "Open Sans",Arial,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7em;
}

.nav {
  a {
    font-weight: 600;
    font-size: 14px;
    padding: 1.5rem 1rem;
    color: $fontColorNav;
    transition: all .4s ease-in-out;
  }
  a:hover {
    opacity: .7;
    color: $fontColorNav;
  }
}

.logo {
  display: block;
  width: 116px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent;
}

.dropdown-item.active {
  background-color: transparent;
}

.container-fluid_padding_reset {
  padding-left: 0;
  padding-right: 0;
}

.nav_color {
  background-color: $red;
}

.dropdown:hover {
  .dropdown-menu {
    z-index: 1000;
    display: block;
  }
}

.content-about {
  p {
    text-align: center;
  }
  
  img {
    box-shadow: 0px 12px 19px -6px rgba(0,0,0,0.3);
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 25px;
  }
}

.separator {
  border-top-color: rgba(0,0,0,.1);  
}

.product {
  padding-top: 30px;
  background-color: #f8f8f8;
}

.product:nth-child(2n+1) {
  background-color: transparent;
  .product__img {
    float: right;
    margin-left: 40px;
    margin-right: 0;
  }
  .btn-container {
    text-align: right;
  }
}

.product__name {
  font-size: 26px;
  color: #ed2427;
  font-weight: 500;
  line-height: 1em;  
}

.product__text {
  text-align: left;
}

.product__img {
  margin-right: 40px;
  float: left;
}

.product__img_right {
  float: right;
  margin-left: 56px;
}

.btn-container {
  text-align: left;
}

.btn {
  color: #ffffff;
  border-width: 0px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #e93c31;
  cursor: pointer;
  box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.3);
  transition: all .2s ease-in-out;
  
  &::after {
    font-family: ElegantIcons; 
    position: absolute;
    opacity: 0;
    content: "\35";
    margin-left: -1em;
    font-weight: 800;
    transition: all .2s ease-in-out;
  }
  
  &:hover {
    padding-right: 20px;
     
    &::after{
      margin-left: 0;
      
      opacity: 1;
    }
  }
}

.footer {
  background-color: #ed2427;
  color: #fbcfd0;
  padding-top: 15px;
  padding-bottom: 15px;
  a {
    color: #fbcfd0;
    text-decoration: none;
    transition: all .4s ease-in-out;
    
    font-weight: 700;
    font-family: "Open Sans",Arial,sans-serif;
    &:hover{
      opacity: .7;
    }
  }
  
}

.test-grid .row div {
  height: 100px;
  background-color: green;
  &:nth-child(odd) {
    background-color: red;
  }
}